<ax-page>
    <ax-toolbar>
        <ax-toolbar-menu [items]="actionItems" (itemClick)="menuItemClickHandler($event)">
        </ax-toolbar-menu>
        <div></div>

    </ax-toolbar>
    <ax-page-content>
        <div class="ax-pad-md" style="height: 100%">
            <ax-panel-box caption="جستجوی پرونده">
                <div class="row">
                    <ax-col col-sm="4">
                        <ax-text-box label="شماره صورت حساب"></ax-text-box>
                    </ax-col>
                    <ax-col col-sm="4">
                        <ax-text-box label="کد ملی"></ax-text-box>
                    </ax-col>
                    <ax-col col-sm="4">
                        <ax-text-box label="نام و نام خانوادگی"></ax-text-box>
                    </ax-col>
                </div>
                <div class="row">
                    <ax-col col-sm="4">
                        <ax-text-box label="شماره پرونده"></ax-text-box>
                    </ax-col>
                    <ax-col col-sm="4">
                    </ax-col>
                    <ax-col col-sm="4">
                    </ax-col>
                </div>

            </ax-panel-box>
            <div style="height: calc(100% - 130px)">
                <ax-data-grid rtl="true">
                    <ax-data-source>
                        <ax-callback-read [provideData]="provideGridData"></ax-callback-read>
                    </ax-data-source>
                    <ax-command-column [items]="commandItems" (itemClick)="onEditClick($event)"></ax-command-column>
                    <ax-text-column field="invoiceNumber" caption="شماره صورت حساب" [width]="150"></ax-text-column>
                    <ax-text-column field="fileNumber" caption="شماره پرونده" [width]="150"></ax-text-column>
                    <ax-text-column field="nationalCode" caption="کد ملی " [width]="150"></ax-text-column>
                    <ax-text-column field="fullName" caption="نام و نام خانوادگی" [width]="150"></ax-text-column>
                    <ax-text-column field="fileStatus" caption="وضعیت پرونده" [width]="150"></ax-text-column>
                    <ax-text-column field="serviceTitle" caption="عنوان خدمت" [width]="150"></ax-text-column>
                    <ax-text-column field="costDate" caption="تاریخ هزینه" [width]="150"></ax-text-column>
                    <ax-text-column field="franchisee" caption="درصد فرانشیز" [width]="150"></ax-text-column>
                    <ax-text-column field="ceilingBalance" caption="مانده سقف" [width]="150"></ax-text-column>
                    <ax-text-column field="allCost" caption="مبلغ کل هزینه" [width]="150"></ax-text-column>
                    <ax-text-column field="requestCost" caption="مبلغ درخواستی" [width]="150"></ax-text-column>
                    <ax-text-column field="requestCost" caption="سهم بیمه پایه" [width]="150"></ax-text-column>
                    <ax-text-column field="comfirmedCost" caption="مبلغ درخواستی" [width]="150"></ax-text-column>
                    <ax-text-column field="fractionAmount" caption="مبلغ کسور" [width]="150"></ax-text-column>
                    <ax-text-column field="fractionAmount" caption="مبلغ تاییدی" [width]="150"></ax-text-column>
                    <ax-text-column field="amountPaidSoFar" caption="مبلغ پرداخت شده تا کنون" [width]="150">
                    </ax-text-column>
                    <ax-text-column field="amountPayable" caption="مبلغ قابل پرداخت" [width]="150"></ax-text-column>
                </ax-data-grid>
            </div>
        </div>
    </ax-page-content>
</ax-page>