<ax-row>
    <ax-col col-sm="2">
        <div class="ac-card heading-row">{{label}}</div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box [(text)]="requestedAmount" (change)="handleAmount()"></ax-text-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box [(text)]="fractionsAmount" (change)="handleAmount()"></ax-text-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box [(text)]="confirmedAmount" disabled="true"></ax-text-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-select-box [items]="selectItems" placeholder="name" [allowSearch]="true"
                (selectedValuesChange)="selectChange($event)" selected>
            </ax-select-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box></ax-text-box>
        </div>
    </ax-col>
</ax-row>