<ax-row>
    <ax-col col-sm="2">
        <div class="ac-card heading-row">{{label}}</div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box (onKey)="handleChangeTextBox($event)"></ax-text-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-text-box></ax-text-box>
        </div>
    </ax-col>
    <ax-col col-sm="2">
        <div class="ac-card">
            <ax-select-box [items]="selectItems" placeholder="name" [allowSearch]="true"
                (selectedItemsChange)="selectChange[name]($event)">
            </ax-select-box>
        </div>
    </ax-col>
    <ax-col col-sm="4">
        <div class="ac-card">
            <ax-text-box></ax-text-box>
        </div>
    </ax-col>
</ax-row>